{% extends 'base.html' %}
<!-- templates/signup.html -->

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h2>Registro</h2>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}

            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
            {% endfor %}
            {% endfor %}
            {% endif %}

            <div class="form-group">
              <label for="username">Usuario</label>
              <input type="text" class="form-control" id="username" name="username"
                placeholder="Introduzca el nombre de usuario" required>
            </div>
            <br>

            <fieldset class="module aligned ">
              <h2>Información personal</h2>
              <div class="form-row field-first_name">
                <div>
                  <label for="id_first_name">Nombre:</label>
                  <input type="text" name="first_name" class="vTextField" maxlength="150" id="id_first_name">
                </div>
              </div>
              <div class="form-row field-last_name">
                <div>
                  <label for="id_last_name">Apellidos:</label>
                  <input type="text" name="last_name" class="vTextField" maxlength="150" id="id_last_name">
                </div>
              </div>
              <div class="form-row field-email">
                <div>
                  <label for="id_email">Dirección de correo electrónico:</label>
                  <input type="email" name="email" value="wfarel.t@gmail.com" class="vTextField" maxlength="254"
                    id="id_email">
                </div>
              </div>
            </fieldset>
            <br>
            <div class="form-group">
              <label for="password1">Contraseña</label>
              <input type="password" class="form-control" id="password1" name="password1" placeholder="Contraseña"
                required>
            </div>
            <div class="form-group">
              <label for="password2">Confirmar Contraseña</label>
              <input type="password" class="form-control" id="password2" name="password2"
                placeholder="Confirmar Contraseña" required>
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block">Registrar</button>
          </form>
        </div>
        <div class="card-footer">
          <a href="{% url 'login' %}">¿Ya tienes una cuenta?</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}