{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h3>Why become pro?</h3>
      <p>Disfruta la forma de ofertar tu trabajo</p>
      <p>Conoce a nuevos clientes</p>  
      <p>Obtén más ingresos</p>
      <br>      
      <form method="POST" id="payment-form">
        {% csrf_token %}
        <div class="form-group">
          <label for="card-element">Tarjeta de Credito o Debito</label>
          <select name="membership" class="form-control">
            <option>Seleccionar:</option>
            <option value="MONTHLY">Mensual - 1$</option>
            <option value="YEARLY">Anual - 10$</option>
          </select>
        </div>
        <br>
        <div id="card-element">
          <!-- placeholder for Elements -->
        </div>
        <br>
        <button type="submit" id="card-button" class="btn btn-success mt-4">Submit Payment</button>
        <p id="payment-result">
          <!-- we'll pass the response from the server here -->
        </p>
  
      </form>
  
    </div>
    <div class="col-md-6 text-center">
      <img src="{% static 'img/membership.jpg' %}" alt="" style="width: 80%;">
    </div>
  </div>
</div>



{% endblock %}

{% block script %}
<script src="{% static 'js/client.js' %}"></script>
{% endblock %}