<style>
    .active{
        background-color: white;
    } 
    .nav-item :hover{
        background-color: white;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light " style="background-color: yellow;" id="nav-bar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse m-3" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#"><b>photographyService</b></a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item {{home_page}}">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{my_events_page}}" href="{% url 'my_events' %}">Mis Eventos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{photographer_page}}" href="{% url 'photographer' %}">Fotografos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'profile' %}">Profile</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            {% if user.is_authenticated %}
                Welcome &nbsp;<strong>{{ user.username }}</strong>!&nbsp;  
                <a href="{% url 'logout' %}" class="btn btn-outline-danger my-2 my-sm-0 ml-2 mr-2">Logout</a>
            {% else %}
                You are not logged in <a href="{% url 'login' %}" class="btn btn-outline-dark my-2 my-sm-0 ml-2 mr-2">Login</a>
                <a href="{% url 'signup' %}" class="btn btn-outline-success my-2 my-sm-0 mr-2">Register</a>
            {% endif %}    
            
            {% if request.session.profile %}                
                <a href="#" class="btn btn-outline-info my-2 my-sm-0 mr-2">Pro+</a>    
            {% else %}
                <a href="{% url 'become_pro' %}" class="btn btn-outline-info my-2 my-sm-0 mr-2">Become Pro</a>
            {% endif %}
            
            
        </form>
    </div>
</nav>